.header__lang-link {
    font-weight: normal;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}