.footer__links {
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: 16px;
    line-height: 1.12;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer__links {
        font-size: calc((100vw - 576px)/(768 - 576) * (16 - 12) + 12px);
    }
}

@media screen and (max-width: 576px) {
    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 1;
        gap: 32px;
    }
}