.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    padding-top: 32px;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: calc((100vw - 320px)/(576 - 320) * (30 - 16) + 16px);
        line-height: 120%;
        padding-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
    }
}